<img style="display: block; margin-left: auto; margin-right: auto;" src="">
<h1 style="margin-top: -5px; margin-left: 40px; text-align: center; font-size: 3em;"><strong>Professional Certificate in Python Programming</strong></h1>

# Databases and SQL - Unit 7 - SQLAlchemy

## Our agenda:

1. Connecting to our database using SQLAlchemy
1. SQLite
1. SQLAlchemy Core operations
1. The SQLAlchemy ORM
1. Working with the Session object

In [29]:
# Prerequisites - Install SQLAlchemy and psycopg2
%pip install SQLAlchemy
%pip install psycopg2

# Connecting to our database using SQLAlchemy

SQLAlchemy is an open-source Python library for working with relational databases.

SQLAlchemy has both a Core component, which allows us to work directly with the database, and an ORM component, which allows us to work with Python objects that are mapped to database tables. We'll start by examining the Core.

Note: Some of this lesson is adapted from the official SQLAlchemy unified tutorial at https://docs.sqlalchemy.org/en/20/tutorial/index.html

In [35]:
# Required imports
from sqlalchemy import create_engine, text

In [37]:
# The connection string is a URI that specifies the DBMS and database we want to connect to.
# The general format of the connection string is:
# DBMS://Username:Password@Host:Port/Database
connection_string = "postgresql://python:python@localhost:5432/exercises"
# NOTE: DO NOT HARDCODE such connection strings in your code,
#       INSTEAD, USE ENVIRONMENT VARIABLES to store the connection string.

# The core object of SQLAlchemy is the engine, which represents the DBMS.
# The create_engine() function takes a single required argument, which is the connection string.
# In our case, we choose to use sqlite3 as the DBMS, and we want to create a new database in memory.
# The echo flag will enable us to see the SQL statements generated.
engine = create_engine(connection_string, echo=True)

# with the engine, we can now connect to the database, and execute SQL statements.
# To enter literal SQL statements in SQLAlchemy, we need to use text()
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM customers"))
    rows = result.all() # Note we should read the result before closing the connection

print("We got the rows:")
for row in rows:
    print(row)
# The result of the query is a list of tuples, where each tuple represents a row in the result set.

2023-10-17 21:21:39,832 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-10-17 21:21:39,833 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-17 21:21:39,837 INFO sqlalchemy.engine.Engine select current_schema()
2023-10-17 21:21:39,840 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-17 21:21:39,844 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-10-17 21:21:39,847 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-17 21:21:39,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 21:21:39,852 INFO sqlalchemy.engine.Engine SELECT * FROM customers
2023-10-17 21:21:39,855 INFO sqlalchemy.engine.Engine [generated in 0.00523s] {}
2023-10-17 21:21:39,863 INFO sqlalchemy.engine.Engine ROLLBACK
We got the rows:
(1, 'Alice', 'alice@example.com', 'F', datetime.date(1990, 1, 1), datetime.date(2021, 1, 1), '123 Main St', 'Bank of America, Account #123456789', ['555-555-5555'])
(2, 'Bob', 'bob@example.com', 'M', datetime.date(1995, 2, 2), datetime.date(2021, 1, 2), '456 Elm St', 'Chase Bank, Account #987654321', ['555-555-5556'])
(3, 'Charlie', 'charlie@example.com', 'M', datetime.date(1985, 3, 3), datetime.date(2021, 1, 3), '789 Oak St', 'Wells Fargo, Account #2468101214', ['555-555-5557'])
(4, 'Diana', 'diana@example.com', 'F', datetime.date(1992, 4, 4), datetime.date(2021, 1, 4), '321 Pine St', 'Bank of America, Account #135791113', ['555-555-5558'])
(5, 'Edward', 'edward@example.com', 'M', datetime.date(1988, 5, 5), datetime.date(2021, 1, 5), '654 Maple St', 'Chase Bank, Account #1214161820', ['555-555-5559'])
(6, 'Fiona', 'fiona@example.com', 'F', datetime.date(1991, 6, 6), datetime.date(2021, 1, 6), '987 Cedar St', 'Wells Fargo, Account #2224262830', ['555-555-5560'])
(7, 'George', 'george@example.com', 'M', datetime.date(1987, 7, 7), datetime.date(2021, 1, 7), '159 Birch St', 'Bank of America, Account #2931333537', ['555-555-5561'])
(8, 'Hannah', 'hannah@example.com', 'F', datetime.date(1993, 8, 8), datetime.date(2021, 1, 8), '753 Walnut St', 'Chase Bank, Account #3132333435', ['555-555-5562'])
(9, 'Isaac', 'isaac@example.com', 'M', datetime.date(1989, 9, 9), datetime.date(2021, 1, 9), '246 Oak St', 'Wells Fargo, Account #3839404142', ['555-555-5563'])
(10, 'Julia', 'julia@example.com', 'F', datetime.date(1994, 10, 10), datetime.date(2021, 1, 10), '864 Pine St', 'Bank of America, Account #4344454647', ['555-555-5564'])
(11, 'Kevin', 'kevin@example.com', 'M', datetime.date(1986, 11, 11), datetime.date(2021, 1, 11), '975 Maple St', 'Chase Bank, Account #4849505152', ['555-555-5565'])
(12, 'Linda', 'linda@example.com', 'F', datetime.date(1990, 12, 12), datetime.date(2021, 1, 12), '531 Cedar St', 'Wells Fargo, Account #5253545556', ['555-555-5566'])
(13, 'Mike', 'mike@example.com', 'M', datetime.date(1984, 1, 13), datetime.date(2021, 1, 13), '246 Birch St', 'Bank of America, Account #5657585960', ['555-555-5567'])
(14, 'Nancy', 'nancy@example.com', 'F', datetime.date(1995, 2, 14), datetime.date(2021, 1, 14), '753 Walnut St', 'Chase Bank, Account #6162636465', ['555-555-5568'])
(15, 'Oscar', 'oscar@example.com', 'M', datetime.date(1983, 3, 15), datetime.date(2021, 1, 15), '864 Pine St', 'Wells Fargo, Account #6667686970', ['555-555-5569'])
(16, 'Penelope', 'penelope@example.com', 'F', datetime.date(1992, 4, 16), datetime.date(2021, 1, 16), '975 Maple St', 'Bank of America, Account #7172737475', ['555-555-5570'])
(17, 'Quincy', 'quincy@example.com', 'M', datetime.date(1988, 5, 17), datetime.date(2021, 1, 17), '531 Cedar St', 'Chase Bank, Account #7677787980', ['555-555-5571'])
(18, 'Rachel', 'rachel@example.com', 'F', datetime.date(1991, 6, 18), datetime.date(2021, 1, 18), '246 Oak St', 'Wells Fargo, Account #8182838485', ['555-555-5572'])
(19, 'Sam', 'sam@example.com', 'M', datetime.date(1987, 7, 19), datetime.date(2021, 1, 19), '753 Walnut St', 'Bank of America, Account #8687888990', ['555-555-5573'])
(20, 'Tina', 'tina@example.com', 'F', datetime.date(1993, 8, 20), datetime.date(2021, 1, 20), '864 Pine St', 'Chase Bank, Account #9192939495', ['555-555-5574'])
(21, 'Ulysses', 'ulysses@example.com', 'M', datetime.date(1989, 9, 21), datetime.date(2021, 1, 21), '975 Maple St', 'Wells Fargo, Account #96979899100', ['555-555-5575'])
(22, 'Victoria', 'victoria@example.com', 'F', datetime.date(1994, 10, 22), datetime.date(2021, 1, 22), '531 Cedar St', 'Bank of America, Account #101102103104', ['555-555-5576'])
(23, 'William', 'william@example.com', 'M', datetime.date(1986, 11, 23), datetime.date(2021, 1, 23), '246 Birch St', 'Chase Bank, Account #105106107108', ['555-555-5577'])
(24, 'Xavier', 'xavier@example.com', 'M', datetime.date(1990, 12, 24), datetime.date(2021, 1, 24), '753 Walnut St', 'Wells Fargo, Account #109110111112', ['555-555-5578'])
(25, 'Yara', 'yara@example.com', 'F', datetime.date(1984, 1, 25), datetime.date(2021, 1, 25), '864 Pine St', 'Bank of America, Account #113114115116', ['555-555-5579'])
(26, 'Zachary', 'zachary@example.com', 'M', datetime.date(1995, 2, 26), datetime.date(2021, 1, 26), '975 Maple St', 'Chase Bank, Account #117118119120', ['555-555-5580'])

# SQLite

Working with Postgres can be a bit annoying when we're just fooling around.
So instead we'll use SQLite for the rest of the lesson.

SQLite is a file-based database, so we don't need to run a server to use it, and we don't need to configure anything.
And if we mess up, we can just delete the file and start over.

SQLite is actually a very powerful database, and it's used in a lot of places, particularly in embedded systems.
But it's not really designed for multi-user access, so it's not a good choice for a production database on the web. So we'll only use it for development and testing purposes.

In [2]:
# A file-based database:
connection_string = "sqlite:///lesson.db"
engine = create_engine(connection_string, echo=True)

# SQLite even supports an in-memory discardbable database,
# with the connection string "sqlite:///:memory:"

# We don't yet have anything there, so let's just try to get back a literal string
with engine.connect() as conn:
    result = conn.execute(text("SELECT 'Hello, World!'"))
    rows = result.all()

print(f"We got: {rows[0][0]}")

2023-10-17 18:48:39,767 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 18:48:39,774 INFO sqlalchemy.engine.Engine SELECT 'Hello, World!'
2023-10-17 18:48:39,777 INFO sqlalchemy.engine.Engine [generated in 0.01080s] ()
2023-10-17 18:48:39,782 INFO sqlalchemy.engine.Engine ROLLBACK
We got: Hello, World!

In [7]:
# Note that by default, SqlAlchemy rolls back the transaction after the with block is done.
# In the above read-only example, it was ok. But if we want to make changes, we need to commit the transaction.
# To do so, we need to use conn.commit() at the end of the block (or even multiple times).

# In the following example, we'll actually store some data in the database.
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE squares (x int, y int)"))
    conn.execute(
        text("INSERT INTO squares (x, y) VALUES (0, 0), (1, 1), (2, 4)"),
    )
    conn.commit()

2023-10-17 18:54:10,676 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 18:54:10,680 INFO sqlalchemy.engine.Engine CREATE TABLE squares (x int, y int)
2023-10-17 18:54:10,683 INFO sqlalchemy.engine.Engine [cached since 172.6s ago] ()
2023-10-17 18:54:10,698 INFO sqlalchemy.engine.Engine INSERT INTO squares (x, y) VALUES (0, 0), (1, 1), (2, 4)
2023-10-17 18:54:10,702 INFO sqlalchemy.engine.Engine [cached since 172.6s ago] ()
2023-10-17 18:54:10,710 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
# Let's see that the values are there:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM squares"))
    rows = result.all()

print("We got the rows:")
for row in rows:
    print(f"The square of {row[0]} is {row[1]}")

2023-10-17 18:56:42,617 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 18:56:42,621 INFO sqlalchemy.engine.Engine SELECT * FROM squares
2023-10-17 18:56:42,623 INFO sqlalchemy.engine.Engine [generated in 0.00581s] ()
2023-10-17 18:56:42,629 INFO sqlalchemy.engine.Engine ROLLBACK
We got the rows:
The square of 0 is 0
The square of 1 is 1
The square of 2 is 4

In [6]:
# If something goes wrong, you can delete the db file, but might need to first close all connections to it:
engine.dispose() # Close all connections

In [9]:
# Let's say you want to add a dynamic value to the table, based on user input.
# you might be tempted to do something like this
# BUT DON'T DO IT!
name = input("Please enter your name: ")

with engine.connect() as conn:
    conn.execute(text("CREATE TABLE Students (name varchar)"))
    conn.execute(
        text(f"INSERT INTO Students (name) VALUES ('{name}')"),
    )
    conn.commit()

2023-10-17 18:57:46,265 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 18:57:46,267 INFO sqlalchemy.engine.Engine CREATE TABLE Students (name varchar)
2023-10-17 18:57:46,270 INFO sqlalchemy.engine.Engine [generated in 0.00541s] ()
2023-10-17 18:57:46,283 INFO sqlalchemy.engine.Engine INSERT INTO Students (name) VALUES ('Yoni')
2023-10-17 18:57:46,286 INFO sqlalchemy.engine.Engine [generated in 0.00326s] ()
2023-10-17 18:57:46,291 INFO sqlalchemy.engine.Engine COMMIT

# SQL Injection:

This is a very famous comic from XKCD:

![image.png](https://imgs.xkcd.com/comics/exploits_of_a_mom_2x.png)
https://imgs.xkcd.com/comics/exploits_of_a_mom_2x.png

In [10]:
# Let's recreate the injection from the comic
# Assume a malicious user entered the following name, and let's see the SQL that will be executed
name = "Robert'); DROP TABLE Students; --"

with engine.connect() as conn:
    conn.execute(text("CREATE TABLE IF NOT EXISTS Students (name varchar)"))
    conn.execute(
        text(f"INSERT INTO Students (name) VALUES ('{name}')"),
    )
    conn.commit()

# Note that thankfully SQLAlchemy prevented this one, by only allowing us to execute one statement at a time

2023-10-17 19:00:09,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:00:09,980 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Students (name varchar)
2023-10-17 19:00:09,984 INFO sqlalchemy.engine.Engine [generated in 0.00783s] ()
2023-10-17 19:00:09,989 INFO sqlalchemy.engine.Engine INSERT INTO Students (name) VALUES ('Robert'); DROP TABLE Students; --')
2023-10-17 19:00:09,995 INFO sqlalchemy.engine.Engine [generated in 0.00606s] ()
2023-10-17 19:00:10,001 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (sqlite3.ProgrammingError) You can only execute one statement at a time.
[SQL: INSERT INTO Students (name) VALUES ('Robert'); DROP TABLE Students; --')]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [11]:
# Parameterized queries

# The correct way to add dynamic values to a query is to use the following approach,
# with inputs as "placeholder" parameters to the query, each prefixed with a colon.

with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO squares (x, y) VALUES (:x, :y)"),
        [{"x": 3, "y": 9}, {"x": 4, "y": 16}],
    )
    rows = conn.execute(text("SELECT * FROM squares")).all()
    conn.commit()

print(f"The rows are: {rows}")
# Note that the above approach is not only safer, but also more efficient,
# as the DBMS can cache the query and reuse it for different values of the parameters.

2023-10-17 19:02:57,808 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:02:57,811 INFO sqlalchemy.engine.Engine INSERT INTO squares (x, y) VALUES (?, ?)
2023-10-17 19:02:57,817 INFO sqlalchemy.engine.Engine [generated in 0.00907s] [(3, 9), (4, 16)]
2023-10-17 19:02:57,824 INFO sqlalchemy.engine.Engine SELECT * FROM squares
2023-10-17 19:02:57,828 INFO sqlalchemy.engine.Engine [cached since 375.3s ago] ()
2023-10-17 19:02:57,832 INFO sqlalchemy.engine.Engine COMMIT
The rows are: [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [12]:
# Regarding the commit() function, note that the style above is called "commit as you go"
# If we know we'd only want to commit at the end of the block, we can use .begin() to commit automatically.

with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO squares (x, y) VALUES (:x, :y)"),
        {"x": 5, "y": 25}, # If we just want to add a single row, we don't need the list
    )
    rows = conn.execute(text("SELECT * FROM squares")).all()


print(f"The rows are: {rows}")

2023-10-17 19:04:22,056 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:04:22,060 INFO sqlalchemy.engine.Engine INSERT INTO squares (x, y) VALUES (?, ?)
2023-10-17 19:04:22,062 INFO sqlalchemy.engine.Engine [generated in 0.00234s] (5, 25)
2023-10-17 19:04:22,067 INFO sqlalchemy.engine.Engine SELECT * FROM squares
2023-10-17 19:04:22,072 INFO sqlalchemy.engine.Engine [cached since 459.5s ago] ()
2023-10-17 19:04:22,076 INFO sqlalchemy.engine.Engine COMMIT
The rows are: [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [15]:
# Instead of getting all the rows, we can also iterate over the result set.
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM squares"))
    for row in result:
        print(f"The square of {row.x} is {row.y}")
    # Note that each row behaves as a "named tuple", so we can access the columns by name or by index

2023-10-17 19:07:31,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:07:31,950 INFO sqlalchemy.engine.Engine SELECT x, y FROM squares
2023-10-17 19:07:31,956 INFO sqlalchemy.engine.Engine [cached since 16.19s ago] ()
The square of 0 is 0
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
2023-10-17 19:07:31,961 INFO sqlalchemy.engine.Engine ROLLBACK

# Object-relational mapping (ORM)

Typically, when working with Python, we prefer to work with objects rather than rows in a database table.

This is where the idea of ORM comes in. ORM stands for Object-Relational Mapping. It's a technique whereby we can define Python classes called "models" that are mapped to database tables.

When using an ORM, such as SQLAlchemy, we can work with these Python objects, called "model instances", and have each correspond to a row.

The ORM will then help us translate our Python operations into the appropriate SQL queries.

In [16]:
# To work with the ORM, we need some additional imports
from sqlalchemy import ForeignKey, Integer, String
from sqlalchemy.orm import Session, declarative_base, mapped_column, relationship

In [25]:
# We then need to create a base class for our models to inherit from
Base = declarative_base()

In [18]:
# Let's start with a very simple class - a Car

class Car(Base):
    __tablename__ = "cars"  # The name of the table in the DB
    id = mapped_column(Integer, primary_key=True)
    model = mapped_column(String(30), nullable=False)
    year = mapped_column(Integer, nullable=False)
    colour = mapped_column(String(30))

    def __str__(self):
        return f"A {self.colour} {self.year} {self.model}"

# Note that it's a regular Python class, but with class-level attributes that describe the columns.
# Each column then is an instance of a SQLAlchemy type, which is a Python class that represents a DB type.

# The basic types are documented in:
# https://docs.sqlalchemy.org/en/20/core/type_basics.html#generic-camelcase-types

In [24]:
# The table won't be created yet. To create it, we need to run:
Base.metadata.create_all(engine)

2023-10-17 19:34:18,704 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:34:18,708 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cars")
2023-10-17 19:34:18,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:18,714 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2023-10-17 19:34:18,717 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:18,720 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2023-10-17 19:34:18,722 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:18,724 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2023-10-17 19:34:18,727 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:18,730 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("addresses")
2023-10-17 19:34:18,732 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:18,737 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2023-10-17 19:34:18,740 INFO sqlalchemy.engine.Engine [no key 0.00260s] ()
2023-10-17 19:34:18,754 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	full_address VARCHAR NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2023-10-17 19:34:18,757 INFO sqlalchemy.engine.Engine [no key 0.00247s] ()
2023-10-17 19:34:18,766 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
# Let's now look at a more complex example, two tables with a one-many relationship
# Each user, might have multiple addresses, but each address belongs to a single user:
class User(Base):
    __tablename__ = "users"

    id = mapped_column(Integer, primary_key=True, autoincrement=True)
    name = mapped_column(String(30), nullable=False)
    fullname = mapped_column(String)

    addresses = relationship("Address", back_populates="user")

    def __repr__(self):
        return f"User(id={self.id}, name='{self.name}', fullname='{self.fullname}')"


class Address(Base):
    __tablename__ = "addresses"

    id = mapped_column(Integer, primary_key=True, autoincrement=True)
    full_address = mapped_column(String, nullable=False)

    user_id = mapped_column(ForeignKey("users.id"))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id}, full_address='{self.full_address}')"

# Create these new tables in the database (it creates all tables that don't exist yet)
Base.metadata.create_all(engine)

2023-10-17 19:34:29,877 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:34:29,882 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2023-10-17 19:34:29,888 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:29,892 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2023-10-17 19:34:29,895 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-17 19:34:29,900 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
# Let's create a couple of objects:
squidward = User(name="squidward", fullname="Squidward Tentacles")
krabs = User(name="ehkrabs", fullname="Eugene H. Krabs")

# Note that we didn't specify an id, as it should be autoincremented
print(squidward)
print(krabs)

# Why are the ids empty?

User(id=None, name='squidward', fullname='Squidward Tentacles')
User(id=None, name='ehkrabs', fullname='Eugene H. Krabs')

# SQLAlchemy Sessions

SQLAlchemy's ORM includes a session management system that handles the interactions between your Python objects and the database. 

A session is a higher-level abstraction than a connection, and it's the recommended way to interact with the database when using the ORM. Sessions allow us to combine multiple operations into a single transaction, and they also provide a way to keep track of changes to objects.

In [28]:
with Session(engine) as session:
    session.add(squidward)
    session.add(krabs)
    session.commit()

2023-10-17 19:38:12,053 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:38:12,065 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname) VALUES (?, ?) RETURNING id
2023-10-17 19:38:12,072 INFO sqlalchemy.engine.Engine [generated in 0.00067s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('squidward', 'Squidward Tentacles')
2023-10-17 19:38:12,079 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname) VALUES (?, ?) RETURNING id
2023-10-17 19:38:12,082 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('ehkrabs', 'Eugene H. Krabs')
2023-10-17 19:38:12,088 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
# Let's now see what we got:
with Session(engine) as session:
    users = session.query(User).all()

print("The users are:")
for user in users:
    print(f"{user.name}'s full name is {user.fullname}")

2023-10-17 19:40:12,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:40:12,745 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2023-10-17 19:40:12,748 INFO sqlalchemy.engine.Engine [cached since 61.39s ago] ()
2023-10-17 19:40:12,753 INFO sqlalchemy.engine.Engine ROLLBACK
The users are:
squidward's full name is Squidward Tentacles
ehkrabs's full name is Eugene H. Krabs

In [31]:
# Does squidward have any addresses?
with Session(engine) as session:
    squidward = session.get(User, 1) # Get the user with id 1
    print(f"{squidward.name}'s addresses are: {squidward.addresses}")

2023-10-17 19:42:20,301 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:42:20,310 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2023-10-17 19:42:20,312 INFO sqlalchemy.engine.Engine [generated in 0.00340s] (1,)
2023-10-17 19:42:20,328 INFO sqlalchemy.engine.Engine SELECT addresses.id AS addresses_id, addresses.full_address AS addresses_full_address, addresses.user_id AS addresses_user_id
FROM addresses
WHERE ? = addresses.user_id
2023-10-17 19:42:20,332 INFO sqlalchemy.engine.Engine [generated in 0.00473s] (1,)
squidward's addresses are: []
2023-10-17 19:42:20,340 INFO sqlalchemy.engine.Engine ROLLBACK

In [32]:
# Because of the relationship between the two tables, we can add addresses to the user object
with Session(engine) as session:
    squidward = session.get(User, 1) # Get the user with id 1
    squidward.addresses.append(Address(full_address="Hollow Anchor, Bikini Bottom"))
    squidward.addresses.append(Address(full_address="123 Coral Drive, Bikini Bottom"))
    session.commit()

2023-10-17 19:42:57,118 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:42:57,121 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2023-10-17 19:42:57,125 INFO sqlalchemy.engine.Engine [cached since 36.82s ago] (1,)
2023-10-17 19:42:57,133 INFO sqlalchemy.engine.Engine SELECT addresses.id AS addresses_id, addresses.full_address AS addresses_full_address, addresses.user_id AS addresses_user_id
FROM addresses
WHERE ? = addresses.user_id
2023-10-17 19:42:57,136 INFO sqlalchemy.engine.Engine [cached since 36.81s ago] (1,)
2023-10-17 19:42:57,150 INFO sqlalchemy.engine.Engine INSERT INTO addresses (full_address, user_id) VALUES (?, ?) RETURNING id
2023-10-17 19:42:57,152 INFO sqlalchemy.engine.Engine [generated in 0.00025s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Hollow Anchor, Bikini Bottom', 1)
2023-10-17 19:42:57,158 INFO sqlalchemy.engine.Engine INSERT INTO addresses (full_address, user_id) VALUES (?, ?) RETURNING id
2023-10-17 19:42:57,166 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('123 Coral Drive, Bikini Bottom', 1)
2023-10-17 19:42:57,179 INFO sqlalchemy.engine.Engine COMMIT

In [33]:
with Session(engine) as session:
    first_address = session.get(Address, 1)
    owner = first_address.user.name

print(f"The first address is owned by {owner}")

2023-10-17 19:43:46,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:43:46,075 INFO sqlalchemy.engine.Engine SELECT addresses.id AS addresses_id, addresses.full_address AS addresses_full_address, addresses.user_id AS addresses_user_id
FROM addresses
WHERE addresses.id = ?
2023-10-17 19:43:46,078 INFO sqlalchemy.engine.Engine [generated in 0.00311s] (1,)
2023-10-17 19:43:46,087 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2023-10-17 19:43:46,090 INFO sqlalchemy.engine.Engine [generated in 0.00290s] (1,)
2023-10-17 19:43:46,098 INFO sqlalchemy.engine.Engine ROLLBACK
The first address is owned by squidward

# SQLAlchemy's Expression Language

SQLAlchemy provides a powerful SQL expression language that lets you construct SQL queries and statements using Python objects and methods. This helps to generate complex queries dynamically and safely, and it also makes it easier to switch between different DBMSs.

In [34]:
# Here are some examples of more advanced queries that we can write using SQLAlchemy's expression language:

with Session(engine) as session:
    # Get all users whose name starts with "e"
    start_with_e = session.query(User).filter(User.name.startswith("e")).all()
    print(f"The users whose name starts with e are: {start_with_e}")

    # Get the first address that contains the word "Coral"
    first_coral = session.query(Address).filter(Address.full_address.contains("Coral")).first()
    print(f"The first address that contains the word Coral is: {first_coral}")

# The full guide is available at:
# https://docs.sqlalchemy.org/en/20/orm/queryguide/index.html

2023-10-17 19:53:11,724 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-17 19:53:11,733 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE (users.name LIKE ? || '%')
2023-10-17 19:53:11,735 INFO sqlalchemy.engine.Engine [generated in 0.00304s] ('e',)
The users whose name starts with e are: [User(id=2, name='ehkrabs', fullname='Eugene H. Krabs')]
2023-10-17 19:53:11,748 INFO sqlalchemy.engine.Engine SELECT addresses.id AS addresses_id, addresses.full_address AS addresses_full_address, addresses.user_id AS addresses_user_id
FROM addresses
WHERE (addresses.full_address LIKE '%' || ? || '%')
 LIMIT ? OFFSET ?
2023-10-17 19:53:11,752 INFO sqlalchemy.engine.Engine [generated in 0.00476s] ('Coral', 1, 0)
The first address that contains the word Coral is: Address(id=2, full_address='123 Coral Drive, Bikini Bottom')
2023-10-17 19:53:11,765 INFO sqlalchemy.engine.Engine ROLLBACK

# Time for breakout rooms